.unselectable, .unselectable * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container {
    position: relative;
    display: inline-block;
    cursor: url('../images/cursors/arrow.png'), default;
}

.tile-container {
    overflow: hidden;
}

.tile {
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-repeat: no-repeat;
    float: left;
    /* DEBUG */
    color: black;
    text-shadow: 1px 1px 1px white;
    font-size: 10px;
    line-height: 32px;
    text-align: center;
}

/* ТРАВА */

/*
 * 1-19 трава
 * 59-62 берег около угла
 * 63-66 верт. берег
 * 67-70 гор. берег
 * 71-74, 77-78 внутренний угол (больше песка)
 * 75-76 внутренний угол (больше травы)
 */

.tile--grass {
    background-image: url('../images/tiles/grass.bmp');
    cursor: url('../images/cursors/move.png'), default;
}

/* ВОДА */

/*
 * 4-7 верт. водный берег
 * 8-11 гор. водный берег
 * 12-15 18-19 уголочки
 * 16-17 большой угол
 */

.tile--water {
    background-image: url('../images/tiles/water.bmp');
}

/* ПОВОРОТ */

.tile--position-0 {
    -moz-transform:    rotate(1turn);
    -ms-transform:     rotate(1turn);
    -webkit-transform: rotate(1turn);
    -o-transform:      rotate(1turn);
    transform:         rotate(1turn);
}

.tile--position-1 {
    -moz-transform:    rotate(0.25turn);
    -ms-transform:     rotate(0.25turn);
    -webkit-transform: rotate(0.25turn);
    -o-transform:      rotate(0.25turn);
    transform:         rotate(0.25turn);
}

.tile--position-2 {
    -moz-transform:    rotate(0.5turn);
    -ms-transform:     rotate(0.5turn);
    -webkit-transform: rotate(0.5turn);
    -o-transform:      rotate(0.5turn);
    transform:         rotate(0.5turn);
}

.tile--position-3 {
    -moz-transform:    rotate(0.75turn);
    -ms-transform:     rotate(0.75turn);
    -webkit-transform: rotate(0.75turn);
    -o-transform:      rotate(0.75turn);
    transform:         rotate(0.75turn);
}

/* КОНКРЕТНЫЙ ТАЙЛ */

.tile--0  { background-position: 0 0; }
.tile--1  { background-position: -33px   0; }
.tile--2  { background-position: -66px   0; }
.tile--3  { background-position: -99px   0; }
.tile--4  { background-position: -132px  0; }
.tile--5  { background-position: -165px  0; }
.tile--6  { background-position: -198px  0; }
.tile--7  { background-position: -231px  0; }
.tile--8  { background-position: -264px  0; }
.tile--9  { background-position: -297px  0; }
.tile--10 { background-position: -330px  0; }
.tile--11 { background-position: -363px  0; }
.tile--12 { background-position: -396px  0; }
.tile--13 { background-position: -429px  0; }
.tile--14 { background-position: -462px  0; }
.tile--15 { background-position: -495px  0; }
.tile--16 { background-position: -528px  0; }
.tile--17 { background-position: -561px  0; }
.tile--18 { background-position: -594px  0; }
.tile--19 { background-position: -627px  0; }
.tile--20 { background-position: -660px  0; }
.tile--21 { background-position: -693px  0; }
.tile--22 { background-position: -726px  0; }
.tile--23 { background-position: -759px  0; }
.tile--24 { background-position: -792px  0; }
.tile--25 { background-position: -825px  0; }
.tile--26 { background-position: -858px  0; }
.tile--27 { background-position: -891px  0; }
.tile--28 { background-position: -924px  0; }
.tile--29 { background-position: -957px  0; }
.tile--30 { background-position: -990px  0; }
.tile--31 { background-position: -1023px 0; }
.tile--32 { background-position: -1056px 0; }
.tile--33 { background-position: -1089px 0; }
.tile--34 { background-position: -1122px 0; }
.tile--35 { background-position: -1155px 0; }
.tile--36 { background-position: -1188px 0; }
.tile--37 { background-position: -1221px 0; }
.tile--38 { background-position: -1254px 0; }
.tile--39 { background-position: -1287px 0; }
.tile--40 { background-position: -1320px 0; }
.tile--41 { background-position: -1353px 0; }
.tile--42 { background-position: -1386px 0; }
.tile--43 { background-position: -1419px 0; }
.tile--44 { background-position: -1452px 0; }
.tile--45 { background-position: -1485px 0; }
.tile--46 { background-position: -1518px 0; }
.tile--47 { background-position: -1551px 0; }
.tile--48 { background-position: -1584px 0; }
.tile--49 { background-position: -1617px 0; }
.tile--50 { background-position: -1650px 0; }
.tile--51 { background-position: -1683px 0; }
.tile--52 { background-position: -1716px 0; }
.tile--53 { background-position: -1749px 0; }
.tile--54 { background-position: -1782px 0; }
.tile--55 { background-position: -1815px 0; }
.tile--56 { background-position: -1848px 0; }
.tile--57 { background-position: -1881px 0; }
.tile--58 { background-position: -1914px 0; }
.tile--59 { background-position: -1947px 0; }
.tile--60 { background-position: -1980px 0; }
.tile--61 { background-position: -2013px 0; }
.tile--62 { background-position: -2046px 0; }
.tile--63 { background-position: -2079px 0; }
.tile--64 { background-position: -2112px 0; }
.tile--65 { background-position: -2145px 0; }
.tile--66 { background-position: -2178px 0; }
.tile--67 { background-position: -2211px 0; }
.tile--68 { background-position: -2244px 0; }
.tile--69 { background-position: -2277px 0; }
.tile--70 { background-position: -2310px 0; }
.tile--71 { background-position: -2343px 0; }
.tile--72 { background-position: -2376px 0; }
.tile--73 { background-position: -2409px 0; }
.tile--74 { background-position: -2442px 0; }
.tile--75 { background-position: -2475px 0; }
.tile--76 { background-position: -2508px 0; }
.tile--77 { background-position: -2541px 0; }
.tile--78 { background-position: -2574px 0; }

/* ОБЪЕКТЫ */

.object {
    z-index: 100;
}

/* ЗЕРКАЛЬНОЕ ОТРАЖЕНИЕ */

.object--flip {
    -moz-transform:    scaleX(-1);
    -o-transform:      scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform:         scaleX(-1);
    filter:      FlipX;
    -ms-filter: "FlipX";
}

/* ГЕРОИ */

.object--hero {
    width: 44px;
    height: 59px;
    position: absolute;
    background: transparent no-repeat 50% 50%;
    cursor: url('../images/cursors/hero.png'), default;
}

.object--hero--alchemist {
    background-image: url(../images/heroes/alchemist/frame_02.png);
}

.object--hero--barbarian {
    background-image: url(../images/heroes/barbarian/frame_02.png);
}

.object--hero--battle-mage {
    background-image: url(../images/heroes/battle_mage/frame_02.png);
}

.object--hero--beastmaster {
    background-image: url(../images/heroes/beastmaster/frame_02.png);
}

.object--hero--cleric {
    background-image: url(../images/heroes/cleric/frame_02.png);
}

.object--hero--death-knight {
    background-image: url(../images/heroes/death_knight/frame_02.png);
}

.object--hero--demoniac {
    background-image: url(../images/heroes/demoniac/frame_02.png);
}

.object--hero--druid {
    background-image: url(../images/heroes/druid/frame_02.png);
}

.object--hero--heretic {
    background-image: url(../images/heroes/heretic/frame_02.png);
}

.object--hero--knight {
    background-image: url(../images/heroes/knight/frame_02.png);
}

.object--hero--necromancer {
    background-image: url(../images/heroes/necromancer/frame_02.png);
}

.object--hero--overlord {
    background-image: url(../images/heroes/overlord/frame_02.png);
}

.object--hero--ranger {
    background-image: url(../images/heroes/ranger/frame_02.png);
}

.object--hero--warlock {
    background-image: url(../images/heroes/warlock/frame_02.png);
}

.object--hero--witch {
    background-image: url(../images/heroes/witch/frame_02.png);
}

.object--hero--wizard {
    background-image: url(../images/heroes/wizard/frame_02.png);
}

/* temp */

.hero {
    outline: 1px dotted #444;
}

.grass, .border {
    line-height: 32px !important;
    text-align: center;
}

.grass {
    background-image: url('../images/grass.png');
}

.border {
    background-image: url('../images/border.png');
}
/* items */
.treasure-chest {
    background-image: url('../images/treasure-chest.png');
}
/* resources */
.gold {
    background-image: url('../images/gold.png');
}
.wood {
    background-image: url('../images/wood.png');
}
.ore {
    background-image: url('../images/ore.png');
}
.gem {
    background-image: url('../images/gem.png');
}
.crystal {
    background-image: url('../images/crystal.png');
}
.sulphur {
    background-image: url('../images/sulphur.png');
}
.mercury {
    background-image: url('../images/mercury.png');
}
/* debug */
.test {
    outline: 1px solid #000;
    background: blue;
    z-index: 90 !important;
}
